.DS_Store
.idea

/documentation/.astro/*
!/documentation/.astro/content.d.ts
!/documentation/.astro/types.d.ts

/artifacts
/target
/local

dist
node_modules
.pnp.*

flamegraph.svg
profile.json.gz

/.yarn/ignore
/.yarn/cache
/.yarn/unplugged

/bench-*.json
