.DS_Store
.idea

/website/.astro/*
!/website/.astro/content.d.ts
!/website/.astro/types.d.ts

/artifacts
/target
/local

dist
node_modules
.pnp.*
*.pyc

flamegraph.svg
profile.json.gz

/.yarn/ignore
/.yarn/cache
/.yarn/unplugged

/.claude
/.superset

/bench-*.json
