---
import Heading from "@/components/Heading";
import Headline from "@/components/Headline.astro";
---

<section class="container flex flex-col items-center max-md:pb-10">
  <div class="pb-3 lg:pb-4">
    <Headline> Get Started </Headline>
  </div>
  <Heading size="h2">Ready for Yarn?</Heading>
  <p
    class="text-white/60 font-montserrat leading-5 pt-6 max-w-2xl mx-auto text-center pb-10"
  >
    Installing Yarn is fast and easy. Whether you‘re starting a new project or
    migrating an existing one, you'll be up and running in minutes.
  </p>
  <a
    href="/getting-started"
    class="py-2 px-6 rounded-full place-content-center min-h-12 border-[#2F3F8C] bg-linear-to-b from-[#101116] to-[rgba(8,20,126,0.11)] shadow-[inset_0px_0px_4.6px_1px_rgba(101,116,255,0.55),inset_0px_0px_12px_rgba(44,76,255,0.24)] text-sm font-medium leading-[1.4] text-white font-montserrat"
  >
    Get started
  </a>
</section>
