---
import { Image } from "astro:assets";
import SearchPackageInterface from "src/features/package/search/SearchPackageInterface.js";
import Versions from "@/components/HeroVersions";
import Headline from "@/components/Headline.astro";
import Heading from "@/components/Heading";

// Images
import hero from "src/assets/image/hero.png";
import heroBg from "src/assets/image/shine-hero-bg.png";
import cat from "src/assets/image/cat.png";
import StarsIcon from "src/assets/svg/stars.svg";
---

<section class="relative pt-8 md:pt-12 xl:pt-20 not-content">
  <Image
    src={heroBg}
    alt="Shine Background"
    class="absolute inset-0 w-full object-cover h-full -z-30 top-24 lg:-top-10 xl:-top-28 2xl:-top-44"
    loading="eager"
    decoding="sync"
    fetchpriority="high"
  />

  <div class="container flex flex-col items-center pb-20">
    <div class="pb-4 lg:pb-5">
      <Headline>
        <StarsIcon fill="#fff" class="lg:size-4 size-3" />
        Welcome to Yarn
      </Headline>
    </div>
    <Heading size="h1" className="max-w-3xl text-center">
      Safe, stable, <br /> reproducible projects
    </Heading>
    <p
      class="text-white! pt-3 lg:pt-5 max-w-2xl text-center text-sm md:text-base"
    >
      Yarn is a package manager that doubles down as project manager. Whether
      you work on simple projects or industry monorepos.
    </p>

    <div class="pt-8 max-w-2xl w-full min-h-28">
      <SearchPackageInterface client:only="preact" />
    </div>

    <div class="pt-6 xl:pt-8">
      <Versions client:only="preact" />
    </div>
  </div>

  <div class="md:container relative">
    <div
      class="relative p-1 md:p-2.5 rounded-2xl lg:rounded-[40px] backdrop-blur-[2.85px] bg-linear-to-b from-white/5 to-transparent"
    >
      <Image
        src={hero}
        alt="Hero"
        class="rounded-[14px] lg:rounded-[32px] w-full h-full"
        loading="eager"
        decoding="sync"
        fetchpriority="high"
      />
    </div>
    <div
      class="absolute right-4 sm:right-10 -top-[60%] sm:-top-2/5 -z-20 w-1/3 sm:w-1/4"
    >
      <Image
        src={cat}
        alt="Cat"
        class="object-contain w-full h-full"
        loading="eager"
        decoding="sync"
        fetchpriority="high"
      />
    </div>
  </div>

  <div
    class="absolute w-full bottom-0 h-[45%] bg-linear-to-t from-gray-800 to-transparent"
  >
  </div>
</section>
