---
import { Image } from "astro:assets";
import SearchPackageInterface from "@/features/package/search/SearchPackageInterface.js";
import Versions from "@/components/HeroVersions";
import Headline from "@/components/Headline.astro";
import Heading from "@/components/Heading";
import {CatShader} from "@/components/CatShader.tsx";

// Images
import heroBg from "@/assets/image/shine-hero-bg.png";
import cat from "@/assets/image/logo-cat-nobg.png";
import heroEllipse from "@/assets/svg/hero-ellipse.svg";
---

<div class="absolute top-0 right-0 overflow-hidden -z-40">
  <div class="mt-20 lg:mt-0 h-screen pt-32 aspect-square">
    <CatShader client:load/>
  </div>
</div>

<div class="-mt-28 lg:-mt-33">
  <section class="relative">
    <div class="px-4 container flex flex-col items-start h-[100vh] lg:justify-around">
      <div class="flex-none mt-0 h-33"/>

      <div class="flex flex-col items-start mt-auto mb-0 lg:mb-auto">
        <Heading size="h1" className="max-w-3xl">
          Safe, stable, <br /> reproducible projects
        </Heading>

        <p class="text-white! pt-6 max-w-2xl text-sm md:text-base">
          Yarn is a package manager that doubles down as project manager. Whether
          you work on simple projects or industry monorepos, Yarn got it covered.
        </p>

        <div class="pt-6 lg:pt-8">
          <Headline>
            <span class="font-mono">
              curl repo.yarnpkg.com/install | bash
            </span>
          </Headline>
        </div>
        <div class="pt-4">
          <Versions client:load/>
        </div>
      </div>

      <div class="mt-16 -mx-2 mb-16 lg:mb-8 max-w-2xl w-full">
        <SearchPackageInterface client:only="preact" />
      </div>
    </div>
  </section>
</div>
