---
import { Image } from "astro:assets";
import SearchPackageInterface from "src/features/package/search/SearchPackageInterface.js";
import Versions from "@/components/HeroVersions";
import Headline from "@/components/Headline.astro";
import Heading from "@/components/Heading";

// Images
import heroBg from "src/assets/image/shine-hero-bg.png";
import cat from "src/assets/image/logo-cat-nobg.png";
import heroEllipse from "src/assets/svg/hero-ellipse.svg";
---

<div class="-mt-32 overflow-hidden">
  <section class="relative not-content">
    <Image
      src={cat}
      alt="Shine Background"
      class="absolute right-0 w-[40%] object-cover h-full -z-30"
      loading="eager"
      decoding="sync"
      fetchpriority="high"
    />

    <div class="absolute inset-0 -z-30" style="
      background-size: 100% 100%;
      background-position: 0px 0px,0px 0px;
      background-image: linear-gradient(0deg, #0C0E13 18%, #0C0E1300 34%),radial-gradient(100% 90% at 50% 100%, #2259FF 0%, #2259FF00 100%);
    "/>

    <div class="flex flex-col items-center min-h-[100vh] justify-around">
      <div class="flex-none mt-0 h-8"/>

      <div class="flex flex-col items-center my-auto">
        <Heading size="h1" className="max-w-3xl text-center">
          Safe, stable, <br /> reproducible projects
        </Heading>

        <p class="text-white! pt-6 max-w-2xl text-center text-sm md:text-base">
          Yarn is a package manager that doubles down as project manager. Whether
          you work on simple projects or industry monorepos.
        </p>

        <div class="pt-6 lg:pt-8">
          <Headline>
            <span class="font-mono">
              curl -sS https://repo.yarnpkg.com/install | bash
            </span>
          </Headline>
        </div>
        <div class="pt-2">
          <Versions client:only="preact" />
        </div>
      </div>

      <div class="flex flex-col items-center w-full relative">
        <Image
          src={heroEllipse}
          alt="Shine Background"
          class="absolute left-0 bottom-0 w-full max-h-64 -z-10"
          loading="eager"
          decoding="sync"
          fetchpriority="high"
        />

        <div class="mt-auto mb-0 max-w-2xl w-full min-h-28">
          <SearchPackageInterface client:only="preact" />
        </div>
      </div>
    </div>
  </section>
</div>
