---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import Hero from "@/sections/Hero.astro";
import SearchResults from "@/features/package/search/SearchResults";
---

<StarlightPage
  frontmatter={{
    title: "",
    template: "splash",
  }}
  {...{
    hideTitle: true,
    hideBackground: true,
  }}
>
  <Hero searchOnTop={true}>
    <div class="w-full">
      <SearchResults client:only="preact"/>
    </div>
  </Hero>
</StarlightPage>
