[package]
name = "zpm-macro-enum"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = { workspace = true }
quote = { workspace = true }
regex = { workspace = true }
syn = { workspace = true }
zpm-macro-helpers = { workspace = true }
