@font-face {
  font-family: "Forma";
  /* Use a relative path to the local font file in `url()`. */
  src: url("./FormaDJRDisplay.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Etude";
  /* Use a relative path to the local font file in `url()`. */
  src: url("./EtudeNoire.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
