<div class="bg-gradient-to-b from-transparent to-white/5 rounded-xl">
  <div
    class="rounded-full bg-linear-to-t from-gray-950 to-gray-800 py-2 px-4 border border-white/10 inline-block"
  >
    <span
      class="flex items-center gap-x-2 font-montserrat text-xs lg:text-sm leading-5 text-white"
    >
      <slot />
    </span>
  </div>
</div>
