---
import DesktopNavigation from "./partial/DesktopNavigation.astro";
import MobileNavigation from "./partial/client/MobileNavigation";
import { Image } from "astro:assets";

import stars from "src/assets/image/stars.png";

const { hideBackground } = Astro.locals.starlightRoute;

const { pathname } = Astro.url;
---

<nav class="relative container py-8 z-40">
  <div class="max-xl:hidden w-full">
    <DesktopNavigation pathname={pathname} />
  </div>
  <div class="xl:hidden">
    <MobileNavigation client:only="preact" pathname={pathname} />
  </div>
</nav>

{!hideBackground && (
  <div class="absolute inset-0 overflow-hidden pointer-events-none">
    <div class="absolute left-2/5 -ml-[400px] top-16 -mt-[200px] w-[800px] h-[400px] blur-xl -z-10" style="
      background-size: 100% 100%;
      background-position: 0px 0px,0px 0px;
      background-image: radial-gradient(50% 50% at 50% 50%, #FFFFFFFF 1%, #4251D700 44%),radial-gradient(50% 50% at 50% 50%, var(--color-blue-700) 0%, color-mix(in srgb, var(--color-blue-700) 0%, transparent) 100%);
    "/>
  </div>
)}
