name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        platform:
          - [linux, ubuntu-latest]
          - [darwin, macos-latest]

    name: 'Building the binary for ${{matrix.platform[0]}}'
    runs-on: ${{matrix.platform[1]}}

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: |
          export INFRA_GIT_SHA=$GITHUB_SHA

          cargo build --verbose --release
          strip target/release/{zpm,zpm-switch}

          echo "INFRA_PLATFORM=$(./target/release/zpm debug print-platform)" >> $GITHUB_ENV

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: zpm-${{env.INFRA_PLATFORM}}
          path: |
            target/release/zpm
            target/release/zpm-switch
          retention-days: 7

  test-report:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Download the binary
        uses: actions/download-artifact@v4
        with:
          name: zpm-x86_64-unknown-linux-gnu

      - name: Puts back the binaries
        run: |
          mkdir -p target/release
          mv {zpm,zpm-switch} target/release/
          chmod +x target/release/{zpm,zpm-switch}

      - name: Clone the berry repo
        uses: actions/checkout@v4
        with:
          repository: yarnpkg/berry
          path: berry

      - name: Install dependencies
        run: ./yarn.sh install
  
      - name: Generate the test report
        run: |
          export BERRY_DIR=$GITHUB_WORKSPACE/berry
          ./yarn.sh berry test:integration --json --outputFile=$(pwd)/report.json || true

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: report.json

  publish:
    needs: [build, test-report]
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Download the binary
        uses: actions/download-artifact@v4
        with:
          name: zpm-x86_64-unknown-linux-gnu
  
      - name: Puts back the binaries
        run: |
          mkdir -p target/release
          mv {zpm,zpm-switch} target/release/
          chmod +x target/release/{zpm,zpm-switch}
      
      - name: Download the test report
        uses: actions/download-artifact@v4
        with:
          name: test-report
    
      - name: Install dependencies
        run: ./yarn.sh install
  
      - name: Generate downloads page
        run: ./yarn.sh build:site-artifacts

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: packages/site-artifacts/dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 
