name: JavaScript

on:
  push:

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Running TypeScript
        run: |
          yarn tsc --build

  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Running Eslint
        run: |
          yarn eslint
