name: Tests

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test-tracker:
    name: 'Running the test tracker'
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: test-reports
      url: "https://iteratum.ai/examples/jest-ui/?url=https%3A%2F%2Frepo.yarnpkg.com%2Fbuilds%2Fzpm%2Fcommits%2F${{github.sha}}%2Ftests"

    steps:
      - uses: ./.github/actions/prepare
        with:
          target: x86_64-unknown-linux-musl
          profile: release

      - name: Copy files to the standard local path
        run: |
          cp -rf target/x86_64-unknown-linux-musl/release target/

      - name: Clone the berry repo
        uses: actions/checkout@v4
        with:
          repository: yarnpkg/berry
          path: berry

      - name: Generate the test report
        run: |
          export BERRY_DIR=$GITHUB_WORKSPACE/berry
          yarn berry test:integration --json --outputFile=$(pwd)/report.json || true

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: report.json
